@namespace xml "http://www.w3.org/XML/1998/namespace";

/* Bibelexegese */

@font-face{
    font-family: "BBAWfont";
    src:url("../fonts/linlibertine_r.ttf");
}

@font-face{
    font-family: "freefonts";
    src: url("../fonts/FreeMono.ttf");
}

@font-face{
    font-family: "BBAW-Schoell";
    src: url("../fonts/BBAW-Schoell-regular.ttf");
}

@font-face{
    font-family: "new-athena";
    src: url("../fonts/new_athena_unicode.ttf");
}


/*TEI {
    font-family: new-athena !important;
}*/

titleStmt title {
    -oxy-show-placeholder: always;
}

titleStmt author{
    display: block;
    -oxy-display-tags: none;
    -oxy-placeholder-content:"Autor"
}

msIdentifier altIdentifier{
    display:block;
}

msIdentifier altIdentifier[type='diktyon']:before{
    content: "Diktyon-Signatur: " 
}

msIdentifier altIdentifier:before{
    content: "weitere Signatur: " 
}

encodingDesc{
    display:none;
}

profileDesc, langUsage, language{
    -oxy-display-tags: none;
}

language:before{
    content:"\A Schreibsprache: "
}

language:after{
    content: " (" oxy_textfield(edit, "ident",color, "black",columns, 4)")";
}

handDesc, handNote{
    display: block;
}

handDesc{
    margin-top: 1em;    
    margin-bottom: 1em;
}

handDesc:before{
    content: "Anzahl der Schreiber: "attr(hands);
}


/* body */

div head title{
    -oxy-display-tags: none;
    -oxy-placeholder-content:"Titel eingeben"
}

div[type='textpart'][subtype]:before{
    color:gray;
    font-size: 75%;
}

div[type='textpart'][subtype='section']:before{
    content: "Sektion " attr(n);
}

div[type='textpart'][subtype='fragment']:before{
    content: "Fragment " attr(n);
}

div[type='textpart'][subtype='commented']:before{
    content: "Kommentar " attr(n);
}

div[type='textpart'][subtype='commentary']:before{
    content: "vergleichbarer Text " attr(n);
}

g{
    -oxy-display-tags: none;
    background-color:lightblue;
}

g[ref='#diple']{
    /*content:"›";*/
    content:"\203a";
}

g[ref='#doubled_diple']{
    /*content:"»";*/
    content:"\00bb";
}

g[ref='#paragraphos']{
    /*content:"—"; = 2014 = Geviertstrich, Gedankenstrich = 2013*/
    content:"\2014";
}

text hi[rendition='#in']{
    -oxy-display-tags: none;
    font-weight:bold;
    -oxy-display-tags: none;
    font-size:2.2em;
    -oxy-placeholder-content:"Initiale"
}

text hi[rendition='#ekthesis']{
    font-weight:bold;
    -oxy-display-tags: none;
    font-size:1.6em;
    -oxy-placeholder-content:"Ekthesis"
}

text hi[rendition='#rubricated']{
    -oxy-display-tags: none;
    color: red;
    font-weight:bold;
    /*font-size:1.6em;*/
    -oxy-placeholder-content:"rubrizierter Text"
}

/* Marginalien */
text note[place^='mTop']{
    border-top:dotted 1px;
}

text note[place^='mBottom']{
    border-bottom:dotted 1px;
}

text note[place='margin_inner']{
    border-left:dotted 1px;
}

text note[place='margin_outer']{
    border-right:dotted 1px;
}

/* Nomina Sacra */

abbr[type='nomSac'] hi[rendition='#ol']{
    -oxy-display-tags: none;
    text-decoration: overline;
}

/* Handschriftenwechsel */
handShift{
    -oxy-display-tags: none;
    /*content: attr(scribeRef) " ";*/
    font-size:70%;
    position: relative; 
    top: -0.5em;
    font-size: 0.7em;
    content:" \|" oxy_xpath(oxy_concat("string-join(//handDesc/handNote[contains('",attr("scribeRef"),"',@xml:id)]/string(), ' ')")) " ";
}